<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p id="welcome">_的抓取设置</p>
	<select id="config_selector"></select>
	<form>
		<fieldset>
			<legend>详细信息</legend>
			品名选择器：<input type="" id="title_selector">
			<br>
			描述选择器：<input type="" id="comment_selector">
			<br>
			图片选择器：<input type="" id="image_selector">
			<br>
			<button id="add">新增</button>
			<button id="modify">修改</button>
			<button id="delete">删除</button>
		</fieldset>
	</form>
	<script type="text/javascript" src="client/js/config.js"></script>
	<script type="text/javascript" src="client/js/components/util.js"></script>
</body>
</html>