<link rel="stylesheet" type="text/css" href="client/css/ring.css">
<h1>&nbsp;</h1>
<div class="row">
	<div class="col-xs-12">
		<div class="page-header">
			<h1>WdUploader <br /><h4>Weidian item uploader + crawler.</h4> </h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
			<select name="" id="crawler-select" class="form-control">
				<option value="">kakaku</option>
				<option value="">乐天</option>
				<option value="">雅虎购物</option>
			</select>
	</div>
</div>
<div class="row"><br /></div>
<div class="row">
	<div class="col-xs-12">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="外网商品网址"/ id="item-src">
			<span class="input-group-btn">
				<button class="btn btn-primary" id="crawl">开始抓取</button>
			</span>
		</div>
	</div>
</div>
<div class="row">
	<br />
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">商品信息</div>
			<div class="panel-body">
				<form class="form" role="form">
					<div class="form-group">
						<label for="item-name" class="control-label">品名：</label>
							<input type="text" class="form-control" id="item-name">
					</div>
					<div class="form-group">
						<label for="item-comment" class="control-label">描述：</label>
							<textarea type="text" class="form-control" id="item-comment"></textarea>
					</div>
					<div class="form-group">
						<label for="price" class="control-label">价格：</label>
							<input type="text" class="form-control" id="price">
					</div>
					<div class="form-group">
						<label for="stock" class="control-label">库存：</label>
							<input type="text" class="form-control" id="stock">
					</div>
					<div class="form-group">
						<label for="free-delivery" class="control-label">包邮：</label>
						<input type="checkbox" name="" id="free-delivery">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">商品图片</div>
			<div class="panel-body">
					<p>抓取图片： </p>
					<br />
					<button class="btn btn-primary btn-block">上传图片</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button class="btn btn-info btn-block">上传商品</button>	
			</div>
		</div>
	</div>
</div>
<div class="row"> <br> </div>
<script type="text/javascript" src="client/js/components/message.js"></script>
<script type="text/javascript" src="client/js/components/image-pop.js"></script>
<script type="text/javascript" src="client/js/components/checkmark.js"></script>
<script type="text/javascript" src="client/js/components/image-grid.js"></script>
<script type="text/javascript" src="client/js/components/util.js"></script>
<script type="text/javascript" src="client/js/upload.js"></script>
